<div class="row">
    <div class="col-12">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>DNI</th>
                    <th>Rol</th>
                    <th>Validado</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="for let usuario of usuarios | async">
                    <tr *ngIf="usuario.uid">
                        <th>{{usuario.nombre}}</th>
                        <th>{{usuario.apellido}}</th>
                        <th>{{usuario.email}}</th>
                        <th>{{usuario.dni}}</th>
                        <th>{{usuario.rol}}</th>
                        <th>
                            <ng-container *ngIf="usuario.rol == 'especialista'">
                                <ng-container *ngIf="usuario.approved;else notValidated">
                                    <span class="text-success text-bold">
                                        Validado
                                    </span>
                                    <button class="btn btn-danger" style="margin-left: 20px;" (click)="auth.RemoverAcceso(usuario.uid)">
                                        Remover Accesso
                                    </button>
                                </ng-container>

                                <ng-template #notValidated>
                                    <button class="btn btn-warning" (click)="auth.Validar(usuario.uid)">
                                        Dar Accesso
                                    </button>
                                </ng-template>
                            </ng-container>
                        </th>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>